<!DOCTYPE html>
<html>
<head>
  <title>QuickScope</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD-OC7VJ2i7ACTv85KZOZfJyEdRuoZUiLY" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/dbeb24f299.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
